glove.6B/glove.6B.100d.txt
glove.6B/glove.6B.50d.txt
glove.6B/glove.6B.200d.txt
glove.6B/glove.6B.300d.txt
glove.6B/

*.DS_Store
.idea

venv/
env/

my_ngram_slurm
my_attack_slurm.sh
my_DL_slurm
my_termfreq_slurm
my_save_model_slurm
glove_classifier_slurm

plot_val_acc.py
val_acc_graphs/
output_graphs/
saved_slurms/
saved_models/

slurm-*.out
